[client]
default-character-set=utf8

[mysqld]
skip-character-set-client-handshake
explicit_defaults_for_timestamp = 1
character-set-server = utf8
collation-server = utf8_general_ci
init-connect = SET NAMES utf8
log-bin=/var/log/mysql/bin-log
server-id=10
